<div class="container" >
    <h1 class="my-4" >Rezerwacja 
      <small>{{car?.brand}} {{car?.model}}</small>
    </h1>
        <img class="img-fluid w-50 h-100" src="{{car.photos[1]}}" alt="">
        <!-- <ngx-gallery [options]="galleryOptions" [images]="galleryImages"></ngx-gallery> -->

      <h3 class="my-3">Podaj termin</h3>
      <p id="reservation" class="text-center">Ostatnia rezerwacja:{{car?.rent | date: 'mediumDate'}}</p>

          <div class="container">
              <div class="row">
                <div class="col">
                  <form [formGroup]="rentForm" (ngSubmit) = "rentCar()">

                      <div class="form-group">
                          <input  class="form-control" bsDatepicker [bsConfig]="bsConfig" type="text"
                            placeholder="Data rozpoczęcia wynajmu" formControlName="rent">
                        </div>

                        <div class="form-group">
                          <input  class="form-control" bsDatepicker [bsConfig]="bsConfig" type="text"
                            placeholder="Data zakończnia wynajmu" formControlName="endrent">
                        </div>


                        <div class="form-group">
                            <input class="form-control"
                              placeholder="Opcjonalna wiadomość *" formControlName="messagerent">
                          </div>
                    
                    <button type="submit" class="btn btn-success mt-3">Wynajmij</button>
                  </form>
                </div>
                <div class="col">
                    <h3 class="my-3">Dodatkowe informacje</h3>
                    <ul>
                     <li>Wynajem bez kaucji</li>
                     <li>Do każdego najmu perfuma oraz zapach do samochodu</li>
                    </ul>
                </div>
              </div>

</div>
<hr class="half-rule" />
    <h3 class="my-4">Inne samochody</h3>
  
    <div class="row">
  
      <div class="col-md-3 col-sm-6 mb-4" *ngFor="let cary of cars; index as i" >
        
        <a href="#" [routerLink]="['/flota/', cary.id]" routerLinkActive="router-link-active"  *ngIf="i < 4">
              <img class="img-fluid"  src="{{cary.photoUrl}}  " alt="">
            </a>
      </div>
  
 
    </div>
