.form-group {
    width: 300px;
}
img {
    max-height: 50px;
    border: 2px solid darkgray;
    display: inline;
}
.dropdown {
    cursor: pointer;
}

.nav-item {
    font-size: 20px;    
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}