<nav class="navbar navbar-expand-lg navbar-light bg-light ">
  <div class="container-fluid">
    <h2>
    <a class="navbar-brand " href="#">CarRent</a>
  </h2>
    <div class="mx-auto" style="text-align: center">
    <div class="collapse navbar-collapse " >
      <ul class="navbar-nav ">
        <li class="nav-item " routerLinkActive="active">
          <a class="nav-link " [routerLink]="['/flota']"  href="#">Flota <span class="sr-only"></span></a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" [routerLink]="['/kontakt']" href="#">Kontakt</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" [routerLink]="['/onas']" href="#">O nas</a>
        </li>
        
      </ul>
    </div>
  </div>


<div *ngIf="logginIn()" class="dropdown" dropdown>
    <span class="mr-2"><img src="{{'../../../../assets/user.png'}}" alt=""></span>
    <a class="dropdown-toggle " dropdownToggle >
      Welcome {{authService.dekodedToken?.unique_name | titlecase}}
    </a>
  
    <div class="dropdown-menu mt-3" *dropdownMenu >
      <div class="dropdown"></div>
      <a class="dropdown-item" (click)="logout()" ><i class="fa fa-sign-out"></i> Logout</a>
    </div>
  </div>


<div *ngIf="!logginIn()" class="btn-group" dropdown placement="bottom right" [insideClick]="true">
    <button id="button-alignment" dropdownToggle type="button"
            class="btn btn-secondary dropdown-toggle" aria-controls="dropdown-alignment">
      Zaloguj się <i class="fa fa-sign-in"></i>
    </button>
  <div id="test">
      <ul id="dropdown-alignment" *dropdownMenu class="dropdown-menu dropdown-menu-right"
      role="menu" aria-labelledby="button-alignment">
      <form class="px-4 py-3"  #loginForm="ngForm"  (ngSubmit)="login()">
        <div class="form-group ">
          <label for="exampleDropdownFormEmail1" name="username">Nazwa użytkownika</label>
          <input type="email" class="form-control" id="exampleDropdownFormEmail1" placeholder="Username" name="username" required [(ngModel)]="model.username">
        </div>
        <div class="form-group">
          <label for="exampleDropdownFormPassword1">Hasło</label>
          <input type="password" class="form-control" id="exampleDropdownFormPassword1" placeholder="Password" name="passwowrd" required [(ngModel)]="model.password">
        </div>
        <div class="text-center">
        <button type="submit" class="btn btn-primary">Zaloguj</button>
      </div>
      </form>
      <div class="dropdown-divider"></div>
      <div class="text-center">
      <button id="button-register" class="text-center" [routerLink]="['/rejestracja']" routerLinkActive="router-link-active"  ngbDropdownItem>Nie masz jeszcze konta? Zarejestruj się</button>
    </div>
  </ul>
</div>
</div>

    <!-- <form *ngIf="!logginIn()" class="form-inline" #loginForm="ngForm" (ngSubmit)="login()">
        <div class="form-group mx-sm-3">
            <input type="text" class="form-control mr-sm-2" placeholder="Username" name="username" required [(ngModel)]="model.username">
            <input type="password" class="form-control mr-sm-2" placeholder="Password" name="password" required [(ngModel)]="model.password">
        </div>
        <button class="btn btn-primary mb-2" type="submit">Log in</button>
      </form> -->
  </div>

  </nav>