<!--footer starts from here-->
<footer class="footer">
  
  
  
  <div class="container">
  <ul class="foot_bottom">
  <li><a href="/home">Home</a></li>
  <li><a href="/onas">About</a></li>
  <li><a href="/kontakt">Contact</a></li>
  </ul>
  <!--foote_bottom_ul_amrc ends here-->
  <p class="text-center">Copyright @2017 | Designed With by <a href="/home">CarRent</a></p>
  
  <ul class="footer_fa">
  <li><a href="#"><i class="fa fa-facebook"></i></a></li>
  <li><a href="#"><i class="fa fa-twitter"></i></a></li>
  <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
  <li><a href="#"><i class="fa fa-instagram"></i></a></li>
  </ul>
  <!--social_footer_ul ends here-->
  </div>
  
  </footer>