<div class="about-section paddingTB60 gray-bg" style="height: 75vh">
  <div class="container">
      <div class="row">
<div class="col-md-7 col-sm-6">
<div class="about-title clearfix">
 <span class="text-center"> <h1>Na temat <span>CarRent</span></h1></span>
  <h3>Skontaktuj się z nami telefonicznie lub osobiście: </h3>

  <div class="container">
    <div class="row">
      <div class="col"><h4>Adres siedziby:</h4>
          <p class="about-paddingB"> 
            ul. X 22
              34-300 Żywiec <br>
              
              Tel.: +48 42 4 500 828 <br>
              pn.-pt.: od 7 do 17 <br>
              sb.: od 9 do 15 <br>
              
              Fax: +48 323 4 500 900 <br>
              </p>
        </div>
        <div class="col">
            <h4>Pracownicy:</h4>

            <p class="about-paddingB">
                Dominik Patryas
                Specjalista ds. wynajmu
                tel. kom. +48 444 120 480
                dominik.patryas@gmail.com
        </div>
      </div>
    </div>

  

</div>
</div>
<div class="col-md-5 col-sm-6">
<div class="about-img">
  <img src="https://devitems.com/preview/appmom/img/mobile/2.png" alt="">
</div>
</div>	
      </div>
  </div>
</div>